# Compiled files
*.pyc
*.pyo
*.class
classes/
out/

# Gradle
bin
build
.gradle
/.nb-gradle/

# IDEs
.idea
*.iml
.project
.settings
.classpath

# Documentation
doc/build
doc/rst/.presentation.rst

# Misc
*.log
