language: java
sudo: required
dist: trusty
jdk: oraclejdk8

before_install:
  - set JAVA_OPTS=-XX:MaxPermSize=1024m -Xmx1512m -Dfile.encoding=UTF-8
  - set JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF-8
  - sudo apt-get install -y rpm

script:
  - gradle fatJar

after_success:
  - scripts/upload_deb.sh $BINTRAY_KEY
  - scripts/upload_rpm.sh $BINTRAY_KEY
  - scripts/upload_jar.sh $BINTRAY_KEY

