.tab .tab-label {
    /*-fx-alignment: CENTER;*/
}

.tab, .menu, .menu-item{
    -fx-padding: 10 20 10 20;
}

.menu-bar {
    -fx-border-color: #DDD #DDD #F8AD32 #DDD;
    -fx-border-width: 0 0 3px 0;
}

.table-row-cell {
    -fx-cell-size: 80px;
    -fx-padding: 20 5 20 5;
}

.hyperlink{
    -fx-underline:false
}

.hyperlink:hover{
    -fx-underline:true
}