.findReplace-highlightsFind{
    -fx-background-fill: #fdde02;
}

.findReplace-highlightsFindAction{
    -fx-background-fill: #ff9900;
    -fx-font-weigh: bold;
    -fx-underline: true;
}

.findReplace-highlightsReplace{
    -fx-background-fill: #ff9900;
}

.lineno {
    -fx-alignment: top-left;
    -fx-label-padding: 5, 5, 5, 5;
}