.styled-text-area .findReplace-highlightsFind{
    -fx-fill: #222;
    -rtfx-background-color: #fdde02;
}

.styled-text-area .findReplace-highlightsFindAction{
    -fx-fill: #222;
    -rtfx-background-color: #fdde02;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.styled-text-area .findReplace-highlightsReplace{
    -fx-fill: #222;
    -rtfx-background-color: #fdde02;
}

.lineno {
    -fx-alignment: top-left;
    -fx-label-padding: 5, 5, 5, 5;
}