.root {
    -fx-text-inner-color: #044763;
}


.menu-bar {
    -fx-border-color: #DDD #DDD #F8AD32 #DDD;
    -fx-border-width: 0 0 3px 0;
}

.tab, .menu, .menu-item{
    -fx-padding: 10 20 10 20;
}


.table-row-cell {
    -fx-cell-size: 80px;
    -fx-padding: 20 5 20 5;
}

.hyperlink{
    -fx-border-width:0;
    -fx-underline:false;
    -fx-text-fill: derive(-fx-text-inner-color, 90%);
}

.hyperlink:hover{
    -fx-underline:true;
}

.box-content {
    -fx-border-color: #DDD #DDD -fx-text-inner-color #DDD;
    -fx-background-color: #FFF;
}

.box-content .label {
    -fx-background-color: #FFF;
}

.box-content .hyperlink {
    -fx-font-size: 1.6em;
}

.title-content-home {
    -fx-font-size: 1.8em;
    -fx-text-fill: -fx-text-inner-color;
    -fx-padding: 20 10 0 10;
}

.home-header-box {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #FFF;
    -fx-background-color: -fx-text-inner-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-text-fill: -fx-text-inner-color;
    -fx-font-weight: bold;
}

.styled-text-area {
    -fx-background-color: -fx-background;
}

.styled-text-area .text {
    -fx-fill: #000;
}

.lineno {
    -fx-background-color: derive(-fx-base,20%);
    -fx-text-fill: #999;
}

.subtitle {
    -fx-font-weight: bold;
    -fx-font-size: 13pt;
    -fx-text-fill: #ea9408;
    -fx-label-padding: 20;
}


/* Icons */
    .glyph-icon {
        -fx-fill: -fx-text-inner-color;
    }
    .icon-account-key, .icon-folder-multiple, .icon-folder-plus, .icon-border-color{
        -fx-fill: #084561;
    }
    .icon-close{
        -fx-fill: #f44336;
    }
    .icon-file, .icon-file-outline, .icon-book-open{
        -fx-fill: #ef9708;
    }
    .icon-google-plus{
        -fx-fill: #dd4b39;
    }
    .icon-arrow-down, .icon-chart-areaspline, .icon-chart-bar, .icon-chart-pie, .icon-link, .icon-code-tags, .icon-library-books{
        -fx-fill: #48a200;
    }