/* OptionsDialog style */

.hyperlink{
    -fx-underline:false;
}

.hyperlink:hover{
    -fx-underline:true;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 15pt;
    -fx-text-fill: #ea9408;
}

.subtitle {
    -fx-font-style: italic;
    -fx-font-size: 11pt;
    -fx-text-fill: #ea9408;
}